body {
  background-color: #e3f1ef !important;
  margin-top: 130px !important;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: #4e7570;
}

.card {
  background-color: #bedad6;
  margin: 1rem;
}

.button {
  background-color: #4e7570 !important;
  color: #e3f1ef !important;
  font-weight: 600 !important;
}

a:link {
  color: #bedad6;
}

#messages {
  margin-left: 10px;
  overflow-anchor: auto;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 10px;
  color: black;
  width: 50%;
}

li span {
  font-weight: bolder;
  color: #b5b0b9;
}

#message-form {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}

input {
  width: 70%;
  height: 30px;
}

.sent {
  text-align: right;
  list-style-position: outside;
  margin-left: 50%;
  padding: 0px;
  
}

.sent p {
  margin-left: 5px;
  color: black;
  background-color: #4e7570;
  margin: 0px;
  word-break: break-all;
  color: white;
}

.receive {
  /* background-color: #6929ca; */
  list-style-position: outside;
  padding: 0px;
  word-wrap: break-all;
}

.receive p {
  margin-left: 5px;
  color: black;
  background-color: #bedad6;
  margin: 0px;
  word-break: break-all;
  color: #4e7570;
}

p {
  display: inline-block;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

#chat {
  background-color: white;
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 0;
  position: relative;
  scroll-behavior: smooth;
}

.sub_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: black;
}

#leftbar {
  background-color: #4c86a2;
  width: 30%;
  margin-right: 3%;
  height: 100vh;
  overflow-y: auto;
}

#contact {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #4e7570;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

#contact > h3 {
  color: white;
  padding: 10px;
}

#photo {
  background-color: grey;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  left: 10px;
  margin-right: 10px;
}

button {
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

#message-input {
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  padding-left: 5px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  margin: auto;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 600px;
  background-color: #a7c7d6;
  border-radius: 30px;
  padding: 20px;
  padding-top: 120px;
}

#text span {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#text input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.text-input:focus {
  outline: none;
  opacity: 1;
}

.cost-input {
  padding-left: 17px;
}

.text-input {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  height: 25px;
  padding: 10px 10px 18px 5px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #4e7570;
  color: #4e7570;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: 0.2s ease;
}

.text-input:focus ~ .text-label,
.text-input:valid ~ .text-label {
  top: -30px;
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

#confirm_cancel {
  text-align: center;
}/*# sourceMappingURL=chat.css.map */

.chat-container {
  display:flex;
}

@media (max-width: 1200px) {
  #photo {
    background-color: grey;
    border-radius: 50%;
    height: 50px;
    /* width: 30px; */
    position: relative;
    left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 990px) {
  #photo {
    background-color: grey;
    border-radius: 50%;
    height: 45px;
    /* width: 50px; */
    position: relative;
    left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {

  .chat-container {
    
    display: grid;
    grid-template-columns: 1fr;
  }

  #chatroom, #chat{
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #chatroom {
    z-index: 2;
  }

  #chat {
    z-index: 1;
    /* opacity: 0; */
  }

  .chat-container-active {
    
  }
}
